<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post" class="">
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="postTitle" class="form-control" placeholder="Your Title" required>
    <br>
    <label>Post</label>
    <textarea class="form-control" name="postContent" rows="3" placeholder="Your Post" required></textarea>

  </div>
  <button class="btn btn-primary btn-lg" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>